@model IEnumerable<FLApp.Models.News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrap">
    <div id="container">
        @{
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    var rnd = new Random().Next();
                    <div class="items">
                        <div id='@rnd-randomId'>
                            <a href="#" class="openGallery">
                                <img src="@item.ImgUrl" alt="@item.ImgUrl" />
                            </a>
                        </div>
                        <p class="content">@item.Content</p>
                    </div>
                }
            }
        }
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/masonry.pkgd.min.js"></script>
    <script src="~/Scripts/imagesloaded.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var container = $('#container .items');
            var masonryContainer = $('#container');
            container.imagesLoaded(function () {
                container.fadeIn();
                masonryContainer.masonry({
                    itemSelector: '.items',
                    isAnimated: true,
                    //columnWidth: 25
                });
                //masonryContainer.masonry('appended', container, true);
                masonryContainer.infinitescroll({
                    // infinite scroll options...

                },
                // trigger Masonry as a callback
                function (newElements) {
                    var $newElems = $(newElements);
                    masonryContainer.masonry('appended', $newElems);
                });
            });
        });
    </script>
}

<div style="display: none;">
    http://desandro.github.io/masonry/docs/methods.html#appended
    http://www.programering.com/a/MzNzQDNwATA.html
    http://techbrij.com/asp-net-pinterest-infinite-scroll-jquery-masonry
</div>